:root {
  --color-headings: #fff;
  --color-body: #fff;
  --border-radius: 30px;
  --color-radius: #ccc;
  --color-card: #fff;
  --color-text: #fff;
  --colot-background: #fcfcfc;
}
* {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0px;
  background: var(--colot-background);
}

.container-main {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
main {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.card-main {
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-main img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0;
  height: 70%;
}
.card-main h5 {
  font-size: 16px;
  color: black;
  margin: unset;
  padding-bottom: 20px;
}
.card-text {
  padding: 20px;
}
.card-main .card-url {
  list-style: none;
  padding: 0;
  margin: 0;
}
.card-main .card-url li {
  display: inline-block;
}
.card-main button {
  background-color: #ccc;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-main button i {
  margin-right: 5px;
}

.card-main h6 {
  margin: unset;
  font-size: 12px;
}
.card-main .button-ml {
  margin-left: 10px;
}
.card-main .new-clr {
  color: green;
}
.crd-mt {
  margin-top: 10px !important;
}
.percentage {
  padding: 8px 17px;
  position: absolute;
  top: 0;
  background: blueviolet;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  text-align: center;
}
/* input styling */
.search-container {
  position: relative;
  width: 300px;
}

.search-input {
  width: calc(100% - 40px); /* Adjust to accommodate the button */
  padding: 10px 10px 10px 40px; /* Adjust padding for the input field */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  position: absolute;
  top: 10px;
  left: 0;
  width: 40px;

  background-color: unset;
  border: none;
  border-right: unset;
  border-radius: unset;
  cursor: pointer;
}

.search-button i {
  color: #888; /* Color of the search icon */
}

.search-input:focus {
  outline: none; /* Remove default focus outline */
}

/* group button styling */


.button-group {
  display: flex;
  margin-top: 20px;
}

.button-group button {
  border: 2px solid yellow;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 0;
  cursor: pointer;
}

.button-group button.active {
  background-color: yellow;
  color: black;
}

.button-group button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-group button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-group button:not() {
  margin-left: -2px; 
  /* Adjust for overlapping borders */
}
